<header>
	<div class="header__wrapper">
		<div class="container">
			<div class="header__top">
				<div class="header__iner">
					<a href="" class="header__link">
						<svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M9.58435 8.87971L5.99996 14.7921L2.41557 8.87971C0.677036 6.01205 2.69699 2.30942 5.99996 2.30942C9.30293 2.30942 11.3229 6.01205 9.58435 8.87971ZM1.04793 9.74421C-1.35394 5.78238 1.43673 0.666992 5.99996 0.666992C10.5632 0.666992 13.3539 5.78238 10.952 9.74421L6.53553 17.029C6.28928 17.4352 5.71064 17.4352 5.46439 17.029L1.04793 9.74421ZM6.00012 4.77305C5.11178 4.77305 4.39164 5.50839 4.39164 6.41547C4.39164 7.32256 5.11178 8.0579 6.00012 8.0579C6.88846 8.0579 7.6086 7.32256 7.6086 6.41547C7.6086 5.50839 6.88846 4.77305 6.00012 4.77305Z" fill="#1C294D" fill-opacity="0.5"/>
						</svg>
						<span>Москва</span>
					</a>
					<a href="" class="header__link">
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8214 0.666992H5.17847C4.51543 0.666992 3.87954 0.930384 3.4107 1.39923L1.39886 3.41107C0.930019 3.87991 0.666626 4.51579 0.666626 5.17884V6.50033V14.8337C0.666626 16.2144 1.78591 17.3337 3.16663 17.3337H14.8333C16.214 17.3337 17.3333 16.2144 17.3333 14.8337V6.50033V5.17884C17.3333 4.5158 17.0699 3.87991 16.6011 3.41107L14.5892 1.39923C14.1204 0.930385 13.4845 0.666992 12.8214 0.666992ZM14.8333 4.00033L13.4107 2.57774C13.2544 2.42146 13.0425 2.33366 12.8214 2.33366H5.17847C4.95746 2.33366 4.7455 2.42146 4.58922 2.57774L3.16663 4.00033H14.8333ZM2.33329 6.50033V14.8337C2.33329 15.2939 2.70639 15.667 3.16663 15.667H14.8333C15.2935 15.667 15.6666 15.2939 15.6666 14.8337V6.50033C15.6666 6.04009 15.2935 5.66699 14.8333 5.66699H3.16663C2.70639 5.66699 2.33329 6.04009 2.33329 6.50033ZM3.99996 13.167C3.99996 12.7068 4.37306 12.3337 4.83329 12.3337H6.49996C6.9602 12.3337 7.33329 12.7068 7.33329 13.167C7.33329 13.6272 6.9602 14.0003 6.49996 14.0003H4.83329C4.37306 14.0003 3.99996 13.6272 3.99996 13.167ZM4.83329 9.83366C4.37306 9.83366 3.99996 10.2068 3.99996 10.667C3.99996 11.1272 4.37306 11.5003 4.83329 11.5003H8.16663C8.62686 11.5003 8.99996 11.1272 8.99996 10.667C8.99996 10.2068 8.62686 9.83366 8.16663 9.83366H4.83329Z" fill="#1C294D" fill-opacity="0.5"/>
						</svg>
						<span>Доставка и оплата</span>
					</a>
					<a href="" class="header__link">
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M1.49996 0.666992C1.03972 0.666992 0.666626 1.04009 0.666626 1.50033V16.5003C0.666626 16.9606 1.03972 17.3337 1.49996 17.3337H3.99996C4.4602 17.3337 4.83329 16.9606 4.83329 16.5003V4.83366H8.16663V6.50033H7.33329C6.41282 6.50033 5.66663 7.24652 5.66663 8.16699V13.167C5.66663 14.0875 6.41282 14.8337 7.33329 14.8337H15.6666C16.5871 14.8337 17.3333 14.0875 17.3333 13.167V8.16699C17.3333 7.24652 16.5871 6.50033 15.6666 6.50033H14.8333V4.83366H16.5C16.9602 4.83366 17.3333 4.46056 17.3333 4.00033V1.50033C17.3333 1.04009 16.9602 0.666992 16.5 0.666992H1.49996ZM14 3.16699H15.6666V2.33366H2.33329V15.667H3.16663V4.00033C3.16663 3.54009 3.53972 3.16699 3.99996 3.16699H8.99996H14ZM13.1666 4.83366V6.50033H9.83329V4.83366H13.1666ZM8.99996 13.167H14H15.6666V11.5003V9.83366V8.16699H14H8.99996H7.33329V9.83366V11.5003V13.167H8.99996Z" fill="#1C294D" fill-opacity="0.5"/>
						</svg>
						<span>Адрес и часы работы</span>
					</a>
				</div>
				<div class="header__iner">
					<a href="" class="header__link">
						<svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M3.16663 0.333008C1.78591 0.333008 0.666626 1.4523 0.666626 2.83301V11.1663C0.666626 12.5471 1.78591 13.6663 3.16663 13.6663H14.8333C16.214 13.6663 17.3333 12.5471 17.3333 11.1663V2.83301C17.3333 1.4523 16.214 0.333008 14.8333 0.333008H3.16663ZM2.40939 2.48462C2.5413 2.19837 2.83076 1.99967 3.16663 1.99967H14.8333C15.1692 1.99967 15.4586 2.19837 15.5905 2.48462L9.51158 7.2127C9.21065 7.44675 8.78927 7.44675 8.48834 7.2127L2.40939 2.48462ZM2.33329 4.53687V9.38714L5.3438 6.87838L2.33329 4.53687ZM2.40238 11.4991C2.53083 11.7937 2.82468 11.9997 3.16663 11.9997H14.8333C15.1752 11.9997 15.4691 11.7937 15.5975 11.4991L11.3095 7.92573L10.5348 8.52829C9.63204 9.23044 8.36789 9.23044 7.46511 8.52829L6.6904 7.92573L2.40238 11.4991ZM15.6666 9.38714V4.53687L12.6561 6.87838L15.6666 9.38714Z" fill="#1C294D" fill-opacity="0.5"/>
						</svg>
						<span>market@estatut.ru</span>
					</a>
					<a href="" class="header__link">
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M4.24822 2.49769L4.24878 2.49839L4.24822 2.49769ZM4.28406 2.55396L5.9545 5.18607C5.75265 5.37559 5.53247 5.5633 5.29551 5.76533C5.09185 5.93896 4.87579 6.12316 4.64831 6.32816C4.08451 6.83626 3.97561 7.65343 4.3405 8.28938C6.27004 11.6523 8.9018 13.1825 10.0794 13.7319C10.7888 14.0629 11.5596 13.8017 11.9887 13.2608L13.1446 11.8037C13.1446 11.8037 13.1456 11.8029 13.1473 11.8026C13.1491 11.8023 13.1523 11.8026 13.1523 11.8026C13.1523 11.8026 13.1548 11.8031 13.1572 11.8046C13.8308 12.2163 14.7705 12.7758 15.6337 13.2494C15.4787 14.1763 15.1226 14.7163 14.7299 15.0463C14.3176 15.393 13.7844 15.5754 13.1897 15.6412C12.0023 15.7727 10.7968 15.416 10.5295 15.3291C10.2345 15.1797 8.61709 14.3366 6.88912 12.9704C5.10731 11.5616 3.32066 9.684 2.63734 7.53061C2.13796 5.95684 2.32626 4.8494 2.71877 4.0855C3.09821 3.34703 3.71224 2.84581 4.28406 2.55396ZM3.67978 0.996162C4.46698 0.626415 5.28098 1.01193 5.66013 1.60936L7.40765 4.36293C7.76094 4.91961 7.78516 5.73339 7.21082 6.29085C6.96467 6.52977 6.62221 6.82341 6.30354 7.09666C6.12861 7.24666 5.96085 7.39051 5.82012 7.51579C7.48078 10.3794 9.70098 11.7043 10.7108 12.1888L11.8349 10.7718C12.3656 10.1028 13.3105 9.94643 14.0301 10.3862C14.6958 10.7931 15.6161 11.3407 16.4501 11.798C17.0063 12.1029 17.4042 12.7387 17.2914 13.4564C17.089 14.7456 16.5601 15.6846 15.8065 16.3181C15.0655 16.9411 14.1827 17.2054 13.3741 17.295C11.7836 17.4711 10.2623 16.9942 9.9845 16.902C9.91416 16.8787 9.85579 16.8541 9.79305 16.8225C9.49481 16.6725 7.73724 15.765 5.85136 14.2738C3.9851 12.7982 1.8804 10.6637 1.04539 8.03229C0.432038 6.09937 0.613479 4.53211 1.23262 3.32714C1.8409 2.1433 2.82598 1.39719 3.67978 0.996162Z" fill="#1C294D" fill-opacity="0.5"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M11.2587 0.743003C10.8397 0.551375 10.3441 0.734563 10.1518 1.15217C9.95951 1.56977 10.1433 2.06365 10.5624 2.25528C12.5011 3.14183 14.72 4.8086 15.7339 7.10862C15.9194 7.52929 16.4119 7.72049 16.834 7.53568C17.2562 7.35087 17.448 6.86003 17.2626 6.43937C16.024 3.62988 13.4061 1.72497 11.2587 0.743003ZM10.6407 3.69451C10.2283 3.48903 9.72682 3.65561 9.52063 4.06657C9.31443 4.47754 9.48158 4.97726 9.89397 5.18274C10.6784 5.57363 11.2214 5.94198 11.6597 6.37882C12.0981 6.81566 12.4677 7.3567 12.8599 8.13847C13.0661 8.54943 13.5676 8.71601 13.98 8.51053C14.3924 8.30505 14.5595 7.80532 14.3533 7.39435C13.9107 6.51223 13.4455 5.80536 12.8403 5.20227C12.2352 4.59918 11.5258 4.13558 10.6407 3.69451Z" fill="#1C294D" fill-opacity="0.5"/>
						</svg>
						<span>8 (968) 660-65-50</span>
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M9.00008 17.3337C4.39771 17.3337 0.666748 13.6027 0.666748 9.00033C0.666748 4.39795 4.39771 0.666992 9.00008 0.666992C13.6025 0.666992 17.3334 4.39795 17.3334 9.00033C17.3334 13.6027 13.6025 17.3337 9.00008 17.3337ZM9.00008 2.33366C5.31818 2.33366 2.33341 5.31843 2.33341 9.00033C2.33341 12.6822 5.31818 15.667 9.00008 15.667C12.682 15.667 15.6667 12.6822 15.6667 9.00033C15.6667 5.31843 12.682 2.33366 9.00008 2.33366ZM9.00008 7.95866C9.57538 7.95866 10.0417 8.42503 10.0417 9.00033V12.3337C10.0417 12.909 9.57538 13.3753 9.00008 13.3753C8.42478 13.3753 7.95842 12.909 7.95842 12.3337V9.00033C7.95842 8.42503 8.42478 7.95866 9.00008 7.95866ZM9.00008 4.83366C8.42478 4.83366 7.95842 5.30003 7.95842 5.87533C7.95842 6.45062 8.42478 6.91699 9.00008 6.91699C9.57538 6.91699 10.0417 6.45062 10.0417 5.87533C10.0417 5.30003 9.57538 4.83366 9.00008 4.83366Z" fill="#27AE60"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header__main">
			<div class="header__main--media-catalog">
				<input id="header__toggle" type="checkbox" />
				<label class="header__btn" for="header__toggle">
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3.33334 5.83333C3.33334 5.3731 3.70644 5 4.16668 5H15.8333C16.2936 5 16.6667 5.3731 16.6667 5.83333C16.6667 6.29357 16.2936 6.66667 15.8333 6.66667H4.16668C3.70644 6.66667 3.33334 6.29357 3.33334 5.83333ZM3.33334 10C3.33334 9.53976 3.70644 9.16667 4.16668 9.16667H11.6667C12.1269 9.16667 12.5 9.53976 12.5 10C12.5 10.4602 12.1269 10.8333 11.6667 10.8333H4.16668C3.70644 10.8333 3.33334 10.4602 3.33334 10ZM4.16668 13.3333C3.70644 13.3333 3.33334 13.7064 3.33334 14.1667C3.33334 14.6269 3.70644 15 4.16668 15H15.8333C16.2936 15 16.6667 14.6269 16.6667 14.1667C16.6667 13.7064 16.2936 13.3333 15.8333 13.3333H4.16668Z" fill="#1C294D"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3.33398 10.0003C3.33398 9.54009 3.70708 9.16699 4.16732 9.16699H11.6673C12.1276 9.16699 12.5007 9.54009 12.5007 10.0003C12.5007 10.4606 12.1276 10.8337 11.6673 10.8337H4.16732C3.70708 10.8337 3.33398 10.4606 3.33398 10.0003Z" fill="#FC6E1D"/>
					</svg>
				</label>
				<ul class="header__box">
					<li><a class="header__item" href="#">Каталог</a></li>
					<li><a class="header__item" href="#">Авторы</a></li>
					<li><a class="header__item" href="#">Новинки</a></li>
					<li>
						<a class="header__item" href="#">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M1.91819 1.91855C2.25361 1.58314 2.79744 1.58314 3.13286 1.91855L6.06389 4.8495C6.30837 4.73771 6.57322 4.66299 6.85107 4.63217L9.70855 4.31517C10.4864 4.22888 11.2613 4.50076 11.8147 5.05414L17.5786 10.8179C18.5849 11.8242 18.5849 13.4556 17.5786 14.4618L14.4614 17.579C13.4551 18.5852 11.8236 18.5852 10.8174 17.579L4.82788 11.5896C4.22584 10.9876 3.96006 10.1271 4.11777 9.29042L4.60307 6.71583C4.64788 6.47813 4.72471 6.25263 4.82881 6.04374L1.91819 3.13319C1.58277 2.79778 1.58277 2.25397 1.91819 1.91855ZM7.03955 8.25442L6.21628 7.43117L5.80585 9.6086C5.75328 9.88748 5.84187 10.1743 6.04255 10.375L12.032 16.3643C12.3675 16.6998 12.9113 16.6998 13.2467 16.3643L16.3639 13.2472C16.6993 12.9118 16.6993 12.368 16.3639 12.0326L10.6 6.26878C10.4155 6.08432 10.1572 5.99369 9.89796 6.02245L7.50261 6.28819L8.2744 7.05996C8.88948 6.88505 9.57852 7.03973 10.0628 7.52398C10.7743 8.2355 10.7743 9.3891 10.0628 10.1006C9.35125 10.8121 8.19762 10.8121 7.48608 10.1006C6.98657 9.60112 6.83773 8.88376 7.03955 8.25442Z" fill="#FF283D"/>
							</svg>
							Скидки
						</a>
					</li>
					<li><a class="header__item" href="#">Партнёрам</a></li>
					<li><a class="header__item" href="#">Мы</a></li>
				</ul>
			</div>
			<div class="header__main-wrapper">
				{% include 'assets/img/logo.svg' %}
				<form class="header__main-form">
					<label class= "header__main-label">
						<input name="name" type="text" class="header__main-input" placeholder="Что будем искать?" data-call="emty" data-msg="Заполните это поле">
						<div class="header__main-input-sub">Error: invalid name</div>
					</label>
					<button class="header__main-button">
						{% include 'assets/img/search.svg' %}
						{% include 'assets/img/search-media.svg' %}
						<span>Искать</span>
					</button>
				</form>
			</div>
			<div class="header__main-iner">
				<a href="" class="header__main-link">
					{% include 'assets/img/flag.svg' %}
					<span>Отложено</span>
				</a>
				<a href="" class="header__main-link">
					{% include 'assets/img/smile.svg' %}
					<span>Войти</span>
				</a>
				<a href="" class="header__main-link">
					{% include 'assets/img/basket.svg' %}
					<span class="header__main-span">Корзина</span>
					<span class="header__main-span">10</span>
				</a>
			</div>
		</div>
		<div class="header__menu">
			<ul class="header__menu-list">
				<li class="header__menu-item">
					<a href="" class="header__menu-link">
						{% include 'assets/img/catalog.svg' %}
						<span>Каталог</span>
					</a>
				</li>
				<li class="header__menu-item ">
					<a href="" class="header__menu-link">
						<span>Авторы</span>
					</a>
				</li>
				<li class="header__menu-item">
					<a href="" class="header__menu-link">
						<span>Новинки</span>
					</a>
				</li>
				<li class="header__menu-item">
					<a href="" class="header__menu-link">
						{% include 'assets/img/Stock.svg' %}
						<span>Скидки</span>
					</a>
				</li>
				<li class="header__menu-item">
					<a href="" class="header__menu-link">
						<span>Партнёрам</span>
					</a>
				</li>
				<li class="header__menu-item">
					<a href="" class="header__menu-link">
						<span>Мы</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>