header
{
	height: 170px;
	margin-bottom: 31px;
	background-color: white;
}
.header__wrapper
{
	border-bottom: 1px solid #DFE0E1;
	margin-bottom: 20px;
}
.header__top
{
	height: 50px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}
.header__link
{
	display: inline-flex;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: rgba(28, 41, 77, 0.8);
	span{margin-left: 5.68px;}
}
.header__iner
{
	display: flex;
	align-items: center;
	.header__link
	{
		&:hover{color: rgba(103, 115, 135, 0.7);}
	}
}
.header__iner:nth-child(1)
{
	column-gap: 32px;
	.header__link:nth-child(1)
	{
		svg{margin-left:4px;}
		span{margin-left: 9.17px;}
	}
	.header__link:nth-child(3) {letter-spacing: 0;}
}
.header__iner:nth-child(2)
{
	column-gap: 26px;
	.header__link:nth-child(1)
	{
		svg{margin-left:4px;}
		span{margin-left: 6px;}
	}
	.header__link:nth-child(2)
	{
		svg:last-child{margin-left: 5px;}
		svg:first-child{margin-left: 4px;}
		span{margin-left: 6px;}
	}
}
.header__main
{
	display:flex;
	justify-content: space-between;
	margin-bottom: 21px;
	.header__main--media-catalog{display: none;}
}
.header__main-wrapper
{
	display:flex;
	justify-content: space-between;
	max-width: 653px;
	width: 100%;
	gap: 30px;
}
.header__main-wrapper > svg:nth-child(1) {min-width: 50px;}
.header__main-form
{
	display: flex;
	width: 100%;
}
.header__main-label
{
	display: flex;
	position: relative;
	width: 100%;
}
.header__main-input
{
	width: 100%;
	font-weight: 400;
	color: #191c21;
	font-size: 14px;
	padding: 11px 0 10px 14px;
	border: 1px solid #DFE0E1;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border-right: none;
	outline-offset: 0;
	&:hover { border-color: #FF7A00; }
	&:focus
	{
		border: 1px solid #FF7A00;
		border-right: none;
	}
	&::placeholder {color: rgba(25, 28, 33, 0.4);}
}
.g-input.error
{
	.g-input__input
	{
		border: 1px solid #D01246;
		outline: 1px solid #D01246;
	}
	.header__main-input-sub
	{
		display: block;
		position: absolute;
		margin-top: 2px;
	}
}
.header__main-input-sub
{
	display: none;
	font-size: rem(10);
	line-height: rem(13);
	font-weight: $regular;
	color: #D01246;
	height: 40px;
}
.header__main-button, input.g-button
{
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #FF7A00;
	cursor: pointer;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 0px 5px 5px 0px;
	border: none;
	height: 40px;
	&:hover{background-color: rgba(103, 115, 135, 0.7);}
	span
	{
		margin-left: 8px;
		letter-spacing: 0.02em;
	}
}
.header__main-button>svg:nth-child(2) {display: none;}
.header__main-iner
{
	display: flex;
	margin-right: 2px;
	margin-left: 31px;
}
.header__main-link
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
	&:hover{color: rgba(103, 115, 135, 0.7);}
	.header__main-span:nth-child(3)
	{
		position: absolute;
		width: 15px;
		height: 15px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: #FF7A00;
		color: #fff;
		text-align: center;
		line-height: 16px;
		font-weight: 500;
		font-size: 9px;
		position: absolute;
		top: 3px;
		left: 8.6px;
	}
	.header__main-span:nth-child(2) {margin-left: 6.67px;}
}
.header__main-link:nth-child(1) span {margin-left: 10px;}
.header__main-link:nth-child(2) {margin-left: 31px;}
.header__main-link:nth-child(2) span {margin-left: 5px}
.header__main-link:nth-child(3)
{
	position: relative;
	margin-left: 31px;
	span{margin-left: 5.5px;}
	svg:last-child
	{
		position: absolute;
		top: 2.8px;
		left: 11.5px;
	}
}
.header__menu-list
{
	display: flex;
	column-gap: 27px;
	span
	{
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #1C294D;
	}
}
.header__menu-link
{
	display: flex;
	align-items: center;
}
.header__menu-item:nth-child(1)
{
	svg
	{
		margin-left: 0;
		position: relative;
		top: -1.2px;
	}
	span {margin-left: 5px;}
}
.header__menu-item:nth-child(3) {letter-spacing: 0.02em;}
.header__menu-item:nth-child(4)
{
	letter-spacing: 0.02em;
	span
	{
		margin-left: 5px;
		color: #FF283D;
	}
}

.header__menu-link > span
{
	&:hover {color: #CFD8DC;}
}
@media (max-width: 866px)
{
	.header__top { font-size: 12px; }
}
@media (max-width: 767.5px)
{
	header
	{
		margin-bottom: 11px;
		border-bottom: 1px solid #ECECEC;
		height: 70px;
		position: sticky;
		top: 0;
		z-index: 1;
	}
	.container
	{
		max-width: 1220px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		padding: 0 10px;
	}
	.header__wrapper {display: none;}
	.header__main
	{
		position: relative;
		z-index: 4;
		height: 70px;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 0px;
		padding: 0px 9px;
		column-gap: 15px;
		.header__main--media-catalog
		{
			display: inline-block;
			width: 26px;
			margin-left: 1px;
		}
	}
	#header__toggle {opacity: 0;}
	#header__toggle:checked ~ .header__btn > span {transform: rotate(45deg);}
	#header__toggle:checked ~ .header__btn > span::before
	{
		top: 0;
		transform: rotate(0);
	}
	#header__toggle:checked ~ .header__btn > span::after
	{
		top: 0;
		transform: rotate(90deg);
	}
	#header__toggle:checked ~ .header__box
	{
		visibility: visible;
		left: 0;
		top: 70px;
		z-index: -1;
	}
	.header__btn
	{
		display: flex;
		align-items: center;
		position: fixed;
		top: 25px;
		cursor: pointer;
		z-index: 1;
	}
	.header__btn > span,
	.header__btn > span::before,
	.header__btn > span::after
	{
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
		transition-duration: .25s;
	}
	.header__btn > span::before
	{
		content: '';
		top: -8px;
	}
	.header__btn > span::after
	{
		content: '';
		top: 8px;
	}
	.header__box
	{
		display: block;
		position: fixed;
		visibility: hidden;
		top: 70px;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		padding-top: 0;
		list-style: none;
		background-color: #ECEFF1;
		transition-duration: .25s;
	}
	.header__item
	{
		display: block;
		padding: 12px 24px;
		color: #333;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		transition-duration: .25s;
	}
	li:nth-child(4) > .header__item {color: #ff283d;}
	li:nth-child(4) > .header__item > svg
	{
		position: relative;
		top: 5px;
	}
	.header__item:hover {background-color: #CFD8DC;}
	.header__main-wrapper
	{
		height: 40px;
		min-width: 43px;
		align-items: center;
		column-gap: 21px;
		svg:nth-child(1)
		{
			min-width: 43.75px;
			height: 35px;
		}
	}
	.header__main-iner {margin: 0;}
	.header__main-form
	{
		display: inline-flex;
		max-width: inherit;
		width: 100%;
	}
	.header__main-label
	{
		display: flex;
		position: relative;
	}
	.header__main-input
	{
		width: 100%;
		font-weight: 400;
		color: rgba(28,41,77,.5);
		background-color: #f7f7f7;
		font-size: 14px;
		line-height: 16.41px;
		padding: 13px 0 12px 14px;
		-webkit-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
		border: none;
		outline-offset: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:hover { border-color: #191C21; }
		&:focus {border: none;}
		&::placeholder {color: rgba(25, 28, 33, 0.4);}
	}
	.header__main-button, input.g-button
	{
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;
		background-color: #F7F7F7;
		cursor: pointer;
		padding-right: 18px;
		padding-left: 13px;
		border-radius: 0px 5px 5px 0px;
		border: none;
		height: 41.5px;
		&:hover {background-color: rgba(103, 115, 135, 0.7);}
		span {display: none;}
	}
	.header__main-button>svg:nth-child(2) {display: inline-block;}
	.header__main-button>svg:nth-child(1) {display: none;}
	.header__main-link:nth-child(1) {display: none;}
	.header__main-link:nth-child(2) {display: none;}
	.header__main-link:nth-child(3)
	{
		margin: 0;
		display: inline-block;
		svg
		{
			width: 25px;
			height: 25px;
			position: relative;
			top: 3.5px;
		}
		.header__main-span:nth-child(2) {display: none;}
		.header__main-span:nth-child(3)
		{
		width: 20px;
		height: 20px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: #ff7a00;
		color: #fff;
		text-align: center;
		line-height: 20px;
		font-weight: 500;
		font-size: 12px;
		position: absolute;
		top: -6.6px;
		left: 9.8px;
		}
	}
	.header__menu{display: none}
}