<div class="subscription">
    <div class="container">
        <div class="subscription__wrapper">
            <p>Скидка 200 ₽ при подписке на рассылку Издательства</p>
            {% include 'assets/img/subscription-line.svg' %}
            <label class="subscription__label">
                <input name="name" type="text" class="subscription__input" placeholder="Введите ваш Email" data-call="emty" data-msg="Заполните это поле">
            </label>
            <button class="subscription__button">Подписаться</button>
        </div>
    </div>
</div>