<div class="news">
    <div class="container">
        <div class="news__wrapper">
            <div class="news__top">
                <p>Новости</p>
                <div class="receipts__top-btn">
                    <button> {% include 'assets/img/prev-arrow.svg' %} </button>
                    <button> {% include 'assets/img/next-arrow.svg' %} </button>
                </div>
            </div>
            <div class="news__middle">
                <div class="news__article">
                    <div class="news__article-img">
                        <img src="img/img-news-one.webp" alt="">
                    </div>
                    <p>16 июня 2020</p>
                    <p>Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
                    <p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
                    <button class="news__article-button">Читать</button>
                </div>
                <div class="news__article">
                    <div class="news__article-img">
                        <img src="img/img-news-two.webp" alt="">
                    </div>
                    <p>16 июня 2020</p>
                    <p>Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
                    <p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
                    <button class="news__article-button">Читать</button>
                </div>
                <div class="news__article">
                    <div class="news__article-img">
                        <img src="img/img-news-fhree.webp" alt="">
                    </div>
                    <p>16 июня 2020</p>
                    <p>Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
                    <p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
                    <button class="news__article-button">Читать</button>
                </div>
            </div>
            <a href="" class="news__footer">
                <p>Показать все новости</p>
            </a>
        </div>
    </div>
</div>