.news {margin-bottom: 21px;}
.news__wrapper
{
	background: #FFFFFF;
	border-radius: 5px;
}
.news__top
{
	display: flex;
	justify-content: space-between;
	padding: 15px 10px 15px 10px;
	border-bottom: 1px solid rgba(28,41,77,.15);
	p
	{
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		color: #1C294D;
		margin: 0;
		letter-spacing: -0.03em;
		position: relative;
		top: 3px;
	}
}
.news__top-btn
{
	display: flex;
	button
	{
		border: 1px solid rgba(28, 41, 77, 0.15);
		box-sizing: border-box;
		width: 30px;
		height: 30px;
		&:hover{background-color: rgba(103, 115, 135, 0.7);}
		svg
		{
			position: relative;
			top: -2px;
			left: 1px;
			width: 6.3px;
			height: 6.8px;
		}
	}
	button:nth-child(1) {border-radius: 5px 0 0 5px;}
	button:nth-child(2)
	{
		border-radius: 0 5px 5px 0px;
		position: relative;
		top: 0;
		left: -1px;
	}
}
.news__article
{
	.news__article-text {margin: 0}
	.news__article-text:nth-child(2)
	{
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		color: rgba(28, 41, 77, 0.5);
		margin-bottom: 4.5px;
	}
	.news__article-text:nth-child(3)
	{
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #1C294D;
		margin-bottom: 9px;
		letter-spacing: -0.03em;
	}
	.news__article-text:nth-child(4)
	{
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #1C294D;
		opacity: 0.8;
		margin-bottom: 11px;
	}
}
.news__article:nth-child(1)
{
	padding: 0 10px;
	padding-top: 20px;
}
.news__article:nth-child(2) {display:none}
.news__article:nth-child(3) {display:none}
.news__article-img
{
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
}
.news__article-button
{
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #1C294D;
	background: #FFFFFF;
	border: 1px solid rgba(28, 41, 77, 0.15);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px 142px 9px 142px;
	margin: auto;
	margin-bottom: 20px;
	cursor: pointer;
	&:hover{background-color: rgba(103, 115, 135, 0.7);}
}
.news__footer
{
	p
	{
		margin: 0;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: #1c294d;
		letter-spacing: -0.01em;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		border-radius: 0 0 5px 5px;
	}
}
@media (min-width: 768px)
{
	.news{margin-bottom: 32px;}
	.news__top {padding: 15px 24px 15px 25px;}
	.news__middle {display: flex;}
	.news__article-img
	{
		display: block;
		margin-bottom: 8px;
	}
	.news__article:nth-child(1)
	{
		padding: 25px 25px 23px 20px;
		.news__article-img>img {width: 320px;}
	}
	.news__article:nth-child(2)
	{
		display: block;
		border-left: 1px solid rgba(28,41,77,.15);
		padding: 25px 25px 23px 35px;
		.news__article-img>img {width: 321px;}
	}
	.news__article:nth-child(3)
	{
		display: block;
		border-left: 1px solid rgba(28,41,77,.15);
		padding: 25px 13px 23px 35px;
		.news__article-img>img {width: 321px;}
	}
	.news__article-img>img
	{
		border-radius: 5px;
	}
	.news__article>p:nth-child(2) {margin-bottom: 4.5px;}
	.news__article>p:nth-child(4)
	{
		margin-bottom: 12.5px;
		letter-spacing: 0.008em;
	}
	.news__article-button
	{
		margin: 0;
		padding: 10px 66px 7px 64px
	}
	.news__footer {display: none;}
}