<div class="offers">
    <div class="container">
        <div class="offers__wrapper">
            <div class="offers__iner">
                <div class="offers__iner-img">
                    <img src="img/offers-time.webp" alt="">
                </div>
                <div class="offers__iner-text">
                    <p>Быстрая доставка</p>
                    <p>Доставим бесплатно от 2000 ₽ по всей России</p>
                </div>
            </div>
            <div class="offers__iner">
                <div class="offers__iner-img">
                    <img src="img/offers-star.webp" alt="">
                </div>
                <div class="offers__iner-text">
                    <p>Бонусная программа</p>
                    <p>Дополнительная скидка 15% при регистрации</p>
                </div>
            </div>
            <div class="offers__iner">
                <div class="offers__iner-img">
                    <img src="img/offers-package.webp" alt="">
                </div>
                <div class="offers__iner-text">
                    <p>Большой выбор</p>
                    <p>Ежегодно выходит в свет более 100 наименований книг</p>
                    <p>Ежегодно выходит в свет более 100 книг</p>
                </div>
            </div>
            <div class="offers__iner">
                <div class="offers__iner-img">
                    <img src="img/offers-card.webp" alt="">
                </div>
                <div class="offers__iner-text">
                    <p>Безопасная оплата</p>
                    <p>Плати безопасно и легко онлайн на нашем сайте</p>
                </div>
            </div>
        </div>
    </div>
</div>